body {
  padding: 30px;
  
}

.tag_container {
  margin: 4px;
  font-family: Arial;
  display: flex;
  float: left;
  color: #555;
  background: #ececec;
  border-radius: 20px;
}

.tag_text {
  padding: 10px;
}

.tag_cross {
  padding-top: 10px;
  cursor: pointer;
  padding-right: 10px;
}

#tags {
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  font-family: Arial;
}

#tags input {
  border: 0;
  margin: 4px;
  padding: 7px;
  width: auto;
  height: 25px;
}

#tags input:focus { 
  outline: none;
}

.dropdown-list{
  max-height: 233px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 0px;
}

.dropdown-list  li{
  font-size: 14px;
  height: 20px;
}
